@model Esercitazione_Edile.Models.Pagamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDipendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDipendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPagamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
